<form class="form-horizontal" id="recoverform" #f="ngForm" (submit)="f.valid && recover(f)" novalidate>
  <div class="form-group ">
    <div class="col-xs-12">
      <h3>Recover Password</h3>
      <p class="text-muted">Enter your Email and instructions will be sent to you! </p>
    </div>
  </div>
  <ng-template #last_step>
    <div class="form-group" [class.has-danger]="(password.invalid && password.touched && password.value) || (password.invalid && f.submitted && password.value)">
      <div class="col-xs-12">
        <input type="password" class="form-control"
               placeholder="Password"
               [class.form-control-danger]="(password.invalid && password.touched && password.value) || (password.invalid && f.submitted && password.value)"
               name="password"
               required
               #password="ngModel"
               [(ngModel)]="model.password">
        <div class="form-control-feedback" *ngIf="(password.invalid && password.touched && password.value) || (password.invalid && f.submitted && password.value)">Password is required.</div>
      </div>
    </div>
    <div class="form-group" [class.has-danger]="(c_password.value != password.value && c_password.touched && c_password.value) || (c_password.value != password.value && f.submitted && c_password.value)">
      <input type="password" class="form-control"
             placeholder="Repeat password"
             [class.form-control-danger]="(c_password.value != password.value && c_password.touched && c_password.value) || (c_password.value != password.value && f.submitted && c_password.value)"
             name="c_password"
             #c_password
             ngModel
             [(ngModel)]="model.c_password">
      <div class="form-control-feedback" *ngIf="(c_password.value != password.value && c_password.touched) || (c_password.value != password.value && f.submitted && c_password.value)">Password does not match.</div>
    </div>
  </ng-template>

  <div *ngIf="!next_step; else last_step" class="form-group" [class.has-danger]="(email.invalid && email.touched) || (email.invalid && f.submitted)">
    <div class="col-xs-12">
      <input class="form-control" type="text" required="" placeholder="Email"
             [class.form-control-danger]="(email.invalid && email.touched) || (email.invalid && f.submitted)"
             name="email"
             #email="ngModel"
             [(ngModel)]="model.email">
      <div class="form-control-feedback" *ngIf="(email.invalid && email.touched) || (email.invalid && f.submitted)">Email is required.</div>
    </div>
  </div>
  <div class="form-group text-center m-t-20">
    <div class="col-xs-12">
      <button class="btn btn-primary btn-lg btn-block text-uppercase waves-effect waves-light" [ngClass]="{'btn-primary': !next_step, 'btn-success': next_step }" type="submit">{{next_step? 'Recover' : 'Reset'}}</button>
    </div>
  </div>
</form>
