<div class="card">
  <div class="card-body">
    <div class="card-title h4 m-b-30">Change Password</div>
    <form class="form-horizontal" novalidate #f="ngForm" (submit)="f.valid && send(f)">
      <div class="row">
        <div class="form-group col-md-4" *ngIf="pass_password; else next">
          <label class="form-control-label">Email</label>
          <input type="text" class="form-control"
                 [class.form-control-danger]="(email.invalid && email.touched) || (email.invalid && f.submitted)"
                 name="email"
                 required
                 #email="ngModel"
                 email
                 [(ngModel)]="model.email">
          <div class="form-control-feedback" *ngIf="(email.invalid && email.touched) || (email.invalid && f.submitted)">Email is required.</div>
        </div>
        <ng-template #next>
          <div class="form-group col-md-12">
            Check your email.
          </div>
          <div class="form-group col-md-4">
            <label class="form-control-label">Password</label>
            <input type="password" class="form-control"
                   [class.form-control-danger]="(password.invalid && password.touched) || (password.invalid && f.submitted)"
                   name="password"
                   required
                   #password="ngModel"
                   [(ngModel)]="model.password">
            <div class="form-control-feedback" *ngIf="(password.invalid && password.touched) || (password.invalid && f.submitted)">Password is required.</div>
          </div>
          <div class="form-group col-md-4">
            <label class="form-control-label">Repeat password</label>
            <input type="password" class="form-control"
                   [class.form-control-danger]="(c_password.invalid && c_password.touched) || (c_password.invalid && f.submitted)"
                   name="c_password"
                   #c_password = 'ngModel'
                   [(ngModel)]="model.confirm">
            <div class="form-control-feedback" *ngIf="(c_password.value != password.value && c_password.touched) || (c_password.value != password.value && f.submitted)">Password does not match.</div>
          </div>
        </ng-template>
      </div>
      <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">Change password</button>
    </form>
  </div>
</div>

