
<a class="nav-link dropdown-toggle waves-effect waves-dark" href="" id="2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="mdi mdi-email"></i>
  <div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
</a>
<div class="dropdown-menu mailbox dropdown-menu-right animated bounceInDown" aria-labelledby="2">
  <ul>
    <li>
      <div class="drop-title">You have 4 new messages</div>
    </li>
    <li>
      <div class="message-center">
        <!-- Message -->
        <a href="#">
          <div class="user-img"> <img src="./assets/assets/images/users/1.jpg" alt="user" class="img-circle"> <span class="profile-status online pull-right"></span> </div>
          <div class="mail-contnet">
            <h5>Pavan kumar</h5> <span class="mail-desc">Just see the my admin!</span> <span class="time">9:30 AM</span> </div>
        </a>
        <!-- Message -->
        <a href="#">
          <div class="user-img"> <img src="./assets/assets/images/users/2.jpg" alt="user" class="img-circle"> <span class="profile-status busy pull-right"></span> </div>
          <div class="mail-contnet">
            <h5>Sonu Nigam</h5> <span class="mail-desc">I've sung a song! See you at</span> <span class="time">9:10 AM</span> </div>
        </a>
        <!-- Message -->
        <a href="#">
          <div class="user-img"> <img src="./assets/assets/images/users/3.jpg" alt="user" class="img-circle"> <span class="profile-status away pull-right"></span> </div>
          <div class="mail-contnet">
            <h5>Arijit Sinh</h5> <span class="mail-desc">I am a singer!</span> <span class="time">9:08 AM</span> </div>
        </a>
        <!-- Message -->
        <a href="#">
          <div class="user-img"> <img src="./assets/assets/images/users/4.jpg" alt="user" class="img-circle"> <span class="profile-status offline pull-right"></span> </div>
          <div class="mail-contnet">
            <h5>Pavan kumar</h5> <span class="mail-desc">Just see the my admin!</span> <span class="time">9:02 AM</span> </div>
        </a>
      </div>
    </li>
  </ul>
</div>
