<div class="row">
    <div class="col-lg col-md-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title m-b-5"><span class="lstick"></span>API Credentials</h3>
                <form>
                    <div class="row modal-body">
                        <div class="text-muted col-md-4 p-t-10">
                            Some long description. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, aperiam architecto autem cum dolore eos.
                        </div>
                        <div class="col-md-4">
                            <label for="api_key">Key</label>
                            <input type="text" class="form-control" id="api_key">
                        </div>
                        <div class="col-md-4">
                            <label for="api_secret">Secret</label>
                            <input type="email" class="form-control" id="api_secret">
                        </div>
                    </div>
                    <div class="modal-footer p-b-0">
                        <button type="submit" class="btn btn-success waves-effect waves-light">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>