<div class="row">
    <div class="col-lg-3">
        <div class="card bg-info">
            <div class="card-body">
                <div class="d-flex no-block">
                    <div class="m-r-20 align-self-center">
                        <i class="icon-wallet dashboard-icon"></i>
                    </div>
                    <div class="align-self-center">
                        <h6 class="text-white m-t-10 m-b-0">Balance</h6>
                        <h2 class="m-t-0 text-white">953,000</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card bg-success">
            <div class="card-body">
                <div class="d-flex no-block">
                    <div class="m-r-20 align-self-center">
                        <i class="icon-layers dashboard-icon"></i>
                    </div>
                    <div class="align-self-center">
                        <h6 class="text-white m-t-10 m-b-0">Transactions</h6>
                        <h2 class="m-t-0 text-white">236,000</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card bg-primary">
            <div class="card-body">
                <div class="d-flex no-block">
                    <div class="m-r-20 align-self-center">
                        <i class="icon-graph dashboard-icon"></i>
                    </div>
                    <div class="align-self-center">
                        <h6 class="text-white m-t-10 m-b-0">Avg. Transaction</h6>
                        <h2 class="m-t-0 text-white">987,563</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card bg-danger">
            <div class="card-body">
                <div class="d-flex no-block">
                    <div class="m-r-20 align-self-center">
                        <i class="mdi mdi-coin dashboard-icon" id=not-like-others></i>
                    </div>
                    <div class="align-self-center">
                        <h6 class="text-white m-t-10 m-b-0">Total Sales</h6>
                        <h2 class="m-t-0 text-white">987,563</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>