/*
Template Name: Admin Pro Admin
Author: Wrappixel
Email: niravjoshi87@gmail.com
File: scss
*/
/*
Template Name: Admin Pro Admin
Author: Wrappixel
Email: niravjoshi87@gmail.com
File: scss
*/
/*Theme Colors*/
/*bootstrap Color*/
/*Light colors*/
/*Normal Color*/
/*Extra Variable*/
/*******************
/*Top bar
*******************/
.topbar {
  background: #f4f6f9; }
  .topbar .navbar-header {
    background: #ffffff; }
  .topbar .top-navbar .navbar-header .navbar-brand .light-logo {
    display: none;
    color: rgba(255, 255, 255, 0.8); }

@media (max-width: 767px) {
  .topbar {
    background: #ffffff; } }

/*******************
/*General Elements
*******************/
a.link:hover, a.link:focus {
  color: #398bf7 !important; }

.bg-theme {
  background-color: #398bf7 !important; }

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #398bf7;
  border-color: #398bf7; }

.right-sidebar .rpanel-title {
  background: #398bf7; }

.stylish-table tbody tr:hover, .stylish-table tbody tr.active {
  border-left: 4px solid #398bf7; }

.text-themecolor {
  color: #398bf7 !important; }

.profile-tab li a.nav-link.active,
.customtab li a.nav-link.active {
  border-bottom: 2px solid #398bf7;
  color: #398bf7; }

.profile-tab li a.nav-link:hover,
.customtab li a.nav-link:hover {
  color: #398bf7; }

/*******************
/*Buttons
*******************/
.btn-themecolor,
.btn-themecolor.disabled {
  background: #398bf7;
  color: #ffffff;
  border: 1px solid #398bf7; }
  .btn-themecolor:hover,
  .btn-themecolor.disabled:hover {
    background: #398bf7;
    opacity: 0.7;
    border: 1px solid #398bf7; }
  .btn-themecolor.active, .btn-themecolor:focus,
  .btn-themecolor.disabled.active,
  .btn-themecolor.disabled:focus {
    background: #028ee1; }

/*******************
/*sidebar navigation
*******************/
.label-themecolor {
  background: #398bf7; }

/*.sidebar-nav > ul > li.active > a {
  color: #398bf7;
  border-color: #398bf7; }
  .sidebar-nav > ul > li.active > a i {
    color: #398bf7; }*/

.sidebar-nav > ul > li.isActive > a {
  color: #398bf7;
  border-color: #398bf7; }
  .sidebar-nav > ul > li.isActive > a i {
    color: #398bf7; }

/*.sidebar-nav ul li a.active, .sidebar-nav ul li a:hover {
  color: #398bf7; }
  .sidebar-nav ul li a.active i, .sidebar-nav ul li a:hover i {
    color: #398bf7; }*/
.sidebar-nav ul li a.isActive, .sidebar-nav ul li a:hover {
  color: #398bf7!important; }
  .sidebar-nav ul li a.isActive i, .sidebar-nav ul li a:hover i {
    color: #398bf7!important; }

.sidebar-nav > ul > li > a i {
  color: #a6b7bf; }
