<!--<div class="text" *ngFor="let item of list | async">
  {{item.name}}
</div>-->

<a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="mdi mdi-message"></i>
  <div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
</a>
<div class="dropdown-menu dropdown-menu-right mailbox animated bounceInDown">
  <ul>
    <li>
      <div class="drop-title">Notifications</div>
    </li>
    <li>
      <div class="message-center">
        <a href="#" *ngFor="let item of list">
          <div class="btn btn-danger btn-circle"><i class="fa fa-{{item.type}}"></i></div>
          <div class="mail-contnet">
            <h5>{{item.name}}</h5> <span class="mail-desc">{{item.text}}</span> <span class="time">9:30 AM</span> </div>
        </a>
      </div>
    </li>
  </ul>
</div>
