<div class="card">
  <div class="card-body">
    <div class="card-title h4 m-b-30">Account Info</div>
    <form #f="ngForm" (submit)="f.valid && send(f)" class="form-horizontal">
      <div class="row">
        <div class="form-group col-md-6" [class.has-danger]="(name.invalid && name.touched) || (name.invalid && f.submitted)">
          <label class="form-control-label">First Name</label>
          <input type="text" class="form-control"
                 [class.form-control-danger]="(name.invalid && name.touched) || (name.invalid && f.submitted)"
                 [(ngModel)]="model.firstName"
                 name="name"
                 #name="ngModel"
                 required>
          <div class="form-control-feedback">First Name is required</div>
        </div>
        <div class="form-group col-md-6" [class.has-danger]="(surname.invalid && surname.touched) || (surname.invalid && f.submitted)">
          <label class="form-control-label">Last Name</label>
          <input type="text" class="form-control"
                 [class.form-control-danger]="(surname.invalid && surname.touched) || (surname.invalid && f.submitted)"
                 [(ngModel)]="model.lastName"
                 name="surname"
                 #surname="ngModel"
                 required>
          <div class="form-control-feedback">Last name is required</div>
        </div>
        <div class="form-group col-md-6">
          <label class="form-control-label">Avatar</label>
          <label class="custom-file d-block">
            <input type="file" class="custom-file-input" (change)="change_file($event)">
            <span class="custom-file-control">
              {{file_name}}
            </span>
          </label>
        </div>
        <div class="form-group col-md-6">
          <label class="form-control-label">Phone</label>
          <div class="d-block">
            <input type="text" class="form-control d-block" [(ngModel)]="model.lastName" phoneInput name="phone">
          </div>
        </div>
        <div class="form-group col-md-6">
          <label class="form-control-label">Notification</label>
          <div class="switch d-inline-block">
            <label><input type="checkbox" [(ngModel)]="model.notifications" name="notification"><span class="lever switch-col-light-green"></span></label>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">Update</button> <span class="err" *ngIf="err">{{err}}</span>
    </form>
  </div>
</div>

