<div class="row">
    <div class="col-lg col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="d-flex">
                    <div>
                        <h3 class="card-title m-b-5"><span class="lstick"></span>Sales Overview </h3>
                    </div>
                    <div class="ml-auto ">
                        <input class="form-control input-daterange-datepicker" type="text" name="daterange" value="" />
                    </div>
                </div>
            </div>
            <div class="bg-theme stats-bar">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <div class="p-20 active">
                            <h6 class="text-white">Total Sales</h6>
                            <h3 class="text-white m-b-0">$10,345</h3>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="p-20">
                            <h6 class="text-white">This Month</h6>
                            <h3 class="text-white m-b-0">$7,589</h3>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="p-20">
                            <h6 class="text-white">This Week</h6>
                            <h3 class="text-white m-b-0">$1,476</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div id="sales-overview2" class="p-relative" style="height:330px;"></div>
        </div>
    </div>
</div>