<!--<div class="preloader">
  <div class="loader">
    <div class="loader__figure"></div>
    <p class="loader__label">Admin Pro</p>
  </div>
</div>-->
<section id="wrapper">
  <div class="login-register">
    <div class="login-box card">
      <div class="card-body">
        <form class="form-horizontal form-material" id="loginform" #f="ngForm" (submit)="f.valid && log_in(f)" novalidate>
          <h3 class="box-title m-b-20">Sign In</h3>
          <div class="form-group" [class.has-danger]="(login.invalid && login.touched) || (login.invalid && f.submitted)">
            <div class="col-xs-12">
              <input class="form-control" type="text" required="" placeholder="Username"
                     [class.form-control-danger]="(login.invalid && login.touched) || (login.invalid && f.submitted)"
                     name="login"
                     #login="ngModel"
                     [(ngModel)]="model.login">
              <div class="form-control-feedback" *ngIf="(login.invalid && login.touched) || (login.invalid && f.submitted)">Username is required.</div>
            </div>
          </div>
          <div class="form-group" [class.has-danger]="(password.invalid && password.touched) || (password.invalid && f.submitted)">
            <div class="col-xs-12">
              <input class="form-control" type="password" required="" placeholder="Password"
                     [class.form-control-danger]="(password.invalid && password.touched) || (password.invalid && f.submitted)"
                     name="password"
                     #password="ngModel"
                     [(ngModel)]="model.password">
              <div class="form-control-feedback" *ngIf="(password.invalid && password.touched) || (password.invalid && f.submitted)">Password is required.</div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-12">
              <div class="checkbox checkbox-info pull-left p-t-0">
                <input id="checkbox-signup" type="checkbox" class="filled-in chk-col-light-blue">
                <label for="checkbox-signup"> Remember me </label>
              </div> <a href="javascript:void(0)" id="to-recover" class="text-dark pull-right"><i class="fa fa-lock m-r-5"></i> Forgot pwd?</a> </div>
          </div>
          <div class="form-group text-center">
            <div class="col-xs-12 p-b-20">
              <button class="btn btn-block btn-lg btn-info btn-rounded" type="submit">Log In</button>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 m-t-10 text-center">
              <div class="social">
                <!--<a href="https://github.com/login/oauth/authorize?client_id=a414ac111e37e2f41ae7" class="btn btn-github" data-toggle="tooltip" title="Login with Github"> <i aria-hidden="true" class="fa fa-github"></i> </a>-->
                <!--<span class="btn btn-googleplus" data-toggle="tooltip" title="Login with Google"> <i aria-hidden="true" class="fa fa-google-plus"></i> </span> -->
                <span (click)='log_fb()' class="btn btn-facebook" data-toggle="tooltip" title="Login with Facebook"> <i aria-hidden="true" class="fa fa-facebook"></i> </span>
                <!--<span (click)="log_linkedin()"  class="btn btn-linkedin" data-toggle="tooltip" title="Login with Linkedin"> <i aria-hidden="true" class="fa fa-linkedin"></i> </span>-->
              </div>
            </div>
          </div>
          <div class="form-group m-b-0">
            <div class="col-sm-12 text-center">
              Don't have an account? <a routerLink="/registration" class="text-info m-l-5"><b>Sign Up</b></a>
            </div>
          </div>
        </form>
        <app-recover-password></app-recover-password>
      </div>
    </div>
  </div>
</section>
