
<div class="card" *ngIf="!mode">
  <div class="card-body">
    <div class="d-flex justify-content-between align-items-start">
      <div class="card-title h4 m-b-30">Address</div>
      <button class="btn btn-success" (click)="change_mode()">Add</button>
    </div>
    <table id="myTable" class="table table-bordered table-striped">
      <thead *ngIf="address?.length">
        <tr>
          <th># </th>
          <th>Nick name</th>
          <th>Street</th>
          <th>Address2</th>
          <th>City</th>
          <th>Country</th>
          <th>State/Province/County</th>
          <th>Postal Code</th>
          <th>Phone</th>
          <th>Company</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <ng-template [ngIf]="address?.length">
          <tr>
            <td># </td>
            <td>Nick name</td>
            <td>Street</td>
            <td>Address2</td>
            <td>City</td>
            <td>Country</td>
            <td>State/Province/County</td>
            <td>Postal Code</td>
            <td>Phone</td>
            <td>Company</td>
            <td><button class="btn btn-info" type="button" (click)="edit_adr({some: 'wqeqwe'})">Edit</button></td>
          </tr>
        </ng-template >
        <ng-template [ngIf]="!address?.length">
          <tr>
            <td colspan="6" class="text-center h5 p-4">no addresses</td>
          </tr>
        </ng-template >
      </tbody>
    </table>
    <!--<nav aria-label="Page navigation">
      <ul class="pagination">
        <li class="page-item"><a class="page-link">Previous</a></li>
        <li class="page-item"><a class="page-link">1</a></li>
        <li class="page-item"><a class="page-link">2</a></li>
        <li class="page-item"><a class="page-link">3</a></li>
        <li class="page-item"><a class="page-link">Next</a></li>
      </ul>
    </nav>-->
  </div>
</div>

<app-profile-add-address *ngIf="mode" (change_mode)="change_mode($event)" [model]="current_model"></app-profile-add-address>

