.form-control-feedback{
  display: none;
}
.form-control-danger+.form-control-feedback{
  display: block;
}
.switch{
  padding-top: 30px;
}
table{
  td{
    vertical-align: middle;
  }
  .btn{
    opacity: 0;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  }
  tr:hover{
    .btn{
      opacity: 1;
    }
  }
}

