.navbar-brand{

  img{
    max-width: 40px;

  }
}

:host ::ng-deep .navbar{
  &-nav{
    &>.nav-item{
      &>*{
        display: block;
        height: 100%;
        &.show{
          background: rgba(0, 0, 0, 0.05);
        }
        &>.nav-link{
          color: #a6b7bf;
          line-height: 54px;
          padding-left: 15px;
          padding-right: 15px;
        }
      }
    }
  }
}
@media (max-width: 767px) {
  .navbar-nav > .nav-item > *.show{
      position: static;
  }
}
