<header class="topbar">
  <nav class="navbar top-navbar navbar-expand-md navbar-light">

    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/">
        <b>
          <img src="./assets/assets/images/iconreloadly.png" alt="homepage" class="dark-logo" />
          <!--<img src="./assets/assets/images/logo-light-icon.png" alt="homepage" class="light-logo" />-->
        </b>
        <!--<span>
          Reloadly
          <img src="./assets/assets/images/logo-text.png" alt="homepage" class="dark-logo" />
          <img src="./assets/assets/images/logo-light-text.png" class="light-logo" alt="homepage" />
        </span>-->
      </a>
    </div>
    <!-- ============================================================== -->
    <!-- End Logo -->
    <!-- ============================================================== -->
    <div class="navbar-collapse">
      <!-- ============================================================== -->
      <!-- toggle and nav items -->
      <!-- ============================================================== -->
      <ul class="navbar-nav mr-auto">
        <!-- This is  -->
        <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
        <li class="nav-item"> <a class="nav-link sidebartoggler hidden-sm-down waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
        <li class="nav-item hidden-sm-down"></li>
      </ul>
      <!-- ============================================================== -->
      <!-- User profile and search -->
      <!-- ============================================================== -->
      <ul class="navbar-nav my-lg-0">
        <li class="nav-item hidden-xs-down search-box">
          <app-header-search></app-header-search>
        </li>
        <li class="nav-item dropdown">
          <app-header-notification></app-header-notification>
        </li>
        <!--<li class="nav-item dropdown">
          <app-header-messages></app-header-messages>
        </li>-->
        <li class="nav-item dropdown mega-dropdown">
          <app-header-mega-menu></app-header-mega-menu>
        </li>
        <li class="nav-item dropdown">
          <app-header-language></app-header-language>
        </li>
        <li class="nav-item dropdown">
          <app-header-profile></app-header-profile>
        </li>
      </ul>
    </div>
  </nav>
</header>
