
<div class="row page-titles">
  <div class="col-md-12">
    <h3 class="text-themecolor">AUTO-RECHARGE</h3>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <h3 class="box-title m-b-20">Setup Auto Recharge</h3>
    <form>
      <div class="row">
        <form #f="ngForm" novalidate (submit)="f.valid && send(f)" class="col">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="select_1">Recharge my account for
                  <i class="mdi mdi-close text-danger" *ngIf="(recharge.dirty && recharge.value == 0) || (f.submitted && (recharge.value == 0 || recharge.invalid));"></i>
                  <span *ngIf="recharge.value != 0 && recharge.dirty" class="text-success"><i class="mdi mdi-check"></i> Thank you !</span>
                </label>
                <select class="selectpicker form-control" id="select_1" data-style="form-control btn-secondary"
                        name="recharge"
                        #recharge="ngModel"
                        required
                        [(ngModel)]="model.recharge">
                  <option value="0" selected>Select an amount</option>
                  <option value="100">$100</option>
                  <option value="200">$200</option>
                  <option value="300">$300</option>
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="select_2">When my balance reaches
                  <i class="mdi mdi-close text-danger" *ngIf="(reach.dirty && reach.value == 0) || (f.submitted && (reach.value == 0 || reach.invalid))"></i>
                  <span *ngIf="reach.value != 0 && reach.dirty" class="text-success"><i class="mdi mdi-check"></i> Thank you !</span>
                </label>
                <select class="selectpicker form-control" id="select_2" data-style="form-control btn-secondary"
                        name="reach"
                        #reach="ngModel"
                        required
                        [(ngModel)]="model.reach">
                  <option value="0" selected>Select an amount</option>
                  <option value="10">$10</option>
                  <option value="15">$15</option>
                  <option value="20">$20</option>
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="select_3">Using credit card
                  <i class="mdi mdi-close text-danger" *ngIf="(card.dirty && card.value == 0) || (f.submitted && (card.value == 0 || card.invalid))"></i>
                  <span  *ngIf="card.value != 0 && card.dirty" class="text-success"><i class="mdi mdi-check"></i> Thank you !</span>
                </label>
                <select class="selectpicker form-control" id="select_3" data-style="form-control btn-secondary"
                        name="card"
                        #card="ngModel"
                        required
                        [(ngModel)]="model.card">
                  <option value="0" selected>Select a card</option>
                  <option value="1">****7121 Exp: 2/2022</option>
                  <option value="2">****7123 Exp: 2/2022</option>
                  <option value="3">****7125 Exp: 2/2022</option>
                </select>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-success waves-effect waves-light d-sm-inline d-block">Save</button>
        </form>
      </div>
    </form>
  </div>
</div>

