
<div class="row page-titles">
  <div class="col-md-5 align-self-center">
    <h3 class="text-themecolor">TRANSACTIONS REPORT</h3>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h4 class="card-title">Search</h4>
    <div class="row">
        <div class="col-md-3">
          <input class="form-control input-daterange-datepicker" type="text" name="daterange" value="" />
        </div>
        <div class="col-md-6 mt-md-0 mt-3">
          <div class="row">
            <div class="col d-flex">
              <select  class="selectpicker col-md-2 form-control" id="select_2" data-style="form-control btn-secondary">
                <option value="1">Filter By</option>
                <option value="1">Phone</option>
                <option value="1">Operator Name</option>
                <option value="1">Country</option>
              </select>
              <input type="text" class="form-control col-md-10">
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <button type="button" class="btn waves-effect waves-light btn-secondary mt-md-0 mt-3">Search</button>
        </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <div class="table-responsive m-t-40">
      <table id="myTable" class="table table-bordered table-striped">
        <thead>
        <tr>
          <th>Trans# 	</th>
          <th>retailer ID</th>
          <th>Retailer</th>
          <th>Date</th>
          <th>Product</th>
          <th>Phone</th>
          <th>Commission</th>
          <th>Fees</th>
          <th>Amount</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>31142</td>
          <td>50</td>
          <td>test test</td>
          <td>2018-01-15 07:57:09</td>
          <td>Natcom Haiti</td>
          <td>50933330250</td>
          <td>$0.16</td>
          <td>$0.00</td>
          <td>$1.00</td>
        </tr>
        </tbody>
      </table>
      <div class="table__footer d-flex align-items-start m-t-40">
        <button type="button" class="btn btn-outline-primary"><i class="fa fa-download"></i> Download Report</button>
        <div class="total ml-auto">
          <p class="mb-0">Fees Total : $0.00</p>
          <p class="mb-0">Commission Total : $0.00</p>
          <p class="mb-0 font-weight-bold">Sales Total : $0.00</p>
        </div>
      </div>

    </div>
  </div>
</div>
