.d-flex{
  display: flex!important;
}
.table thead th, .table th{
  white-space: nowrap;
}
@media screen and (max-width: 450px) {
  .btn-group{
    margin-bottom:10px!important;
  }
  .d-flex{
    flex-wrap: wrap;
  }
  .ml-auto{
    margin:20px 0 10px!important;
  }
}


