<div class="row page-titles">
  <div class="col-md-5 align-self-center">
    <h3 class="text-themecolor">USER PROFILE</h3>
    <p class="mb-0">Profile overview, edit account, change password, notification, messages, promotions, calendar....</p>
  </div>
</div>
<!--<ul class="nav nav-pills m-t-30 m-b-30">
  <li class=" nav-item"> <a href="#navpills-1" class="nav-link active" data-toggle="tab" aria-expanded="false">Overview</a> </li>
  <li class="nav-item"> <a href="#navpills-2" class="nav-link" data-toggle="tab" aria-expanded="false">Edit Account</a> </li>
  <li class="nav-item"> <a href="#navpills-3" class="nav-link" data-toggle="tab" aria-expanded="true">Edit Password</a> </li>
  <li class="nav-item"> <a href="#navpills-4" class="nav-link" data-toggle="tab" aria-expanded="true">Edit Address</a> </li>
</ul>-->




<app-tabs class="tab-content br-n pn">
  <app-tab title="Overview">
    <app-profile-overview [user]="user"></app-profile-overview>
  </app-tab>
  <app-tab title="Edit Account">
    <app-profile-edit-account [model]="user"></app-profile-edit-account>
  </app-tab>
  <app-tab title="Edit Password">
    <app-profile-edit-password></app-profile-edit-password>
  </app-tab>
  <app-tab title="Edit Address">
    <app-profile-edit-address></app-profile-edit-address>
  </app-tab>
</app-tabs>


<!--<div class="tab-content br-n pn">
  <div id="navpills-1" class="tab-pane active">
    <app-profile-overview [user]="user"></app-profile-overview>
  </div>
  <div id="navpills-2" class="tab-pane">
    <app-profile-edit-account [model]="user"></app-profile-edit-account>
  </div>
  <div id="navpills-3" class="tab-pane">
    <app-profile-edit-password></app-profile-edit-password>
  </div>
  <div id="navpills-4" class="tab-pane">
    <app-profile-edit-address></app-profile-edit-address>
  </div>
</div>-->



