<!--<div class="preloader">
  <div class="loader">
    <div class="loader__figure"></div>
    <p class="loader__label">Admin Pro</p>
  </div>
</div>-->
<section id="wrapper">
  <div class="login-register">
    <div class="login-box card">
      <div class="card-body">
        <form class="form-horizontal form-material" id="loginform" #f="ngForm" (submit)="f.valid && register(f)" novalidate>
          <h3 class="box-title m-b-20">Sign Up</h3>
          <div class="form-group" [class.has-danger]="(name.invalid && name.touched) || (name.invalid && f.submitted)">
            <div class="col-xs-12">
              <input class="form-control" type="text" required="" placeholder="First Name"
                     [class.form-control-danger]="(name.invalid && name.touched) || (name.invalid && f.submitted)"
                     name="name"
                     #name="ngModel"
                     [(ngModel)]="model.firstName">
              <div class="form-control-feedback" *ngIf="(name.invalid && name.touched) || (name.invalid && f.submitted)">Name is required.</div>
            </div>
          </div>
          <div class="form-group" [class.has-danger]="(lastName.invalid && lastName.touched) || (lastName.invalid && f.submitted)">
            <div class="col-xs-12">
              <input class="form-control" type="text" required="" placeholder="Last Name"
                     [class.form-control-danger]="(lastName.invalid && lastName.touched) || (lastName.invalid && f.submitted)"
                     name="lastName"
                     #lastName="ngModel"
                     [(ngModel)]="model.lastName">
              <div class="form-control-feedback" *ngIf="(lastName.invalid && lastName.touched) || (lastName.invalid && f.submitted)">Name is required.</div>
            </div>
          </div>
          <div class="form-group" [class.has-danger]="(email.invalid && email.touched) || (email.invalid && f.submitted)">
            <div class="col-xs-12">
              <div class="col-xs-12">
                <input class="form-control" type="text" required="" placeholder="Email"
                       [class.form-control-danger]="(email.invalid && email.touched) || (email.invalid && f.submitted)"
                       name="email"
                       email
                       #email="ngModel"
                       [(ngModel)]="model.email">
                <div class="form-control-feedback" *ngIf="(email.invalid && email.touched) || (email.invalid && f.submitted)">Email is required.</div>
              </div>
            </div>
          </div>
          <div class="form-group" [class.has-danger]="(phone.invalid && phone.touched) || (phone.invalid && f.submitted)">
            <div class="col-xs-12">
              <div class="col-xs-12">
                <input class="form-control" id="phone" type="tel" required=""
                       [class.form-control-danger]="(phone.invalid && phone.touched) || (phone.invalid && f.submitted)"
                       name="phone"
                       #phone="ngModel"
                       [(ngModel)]="model.phone">
                <div class="form-control-feedback" *ngIf="(phone.invalid && phone.touched) || (phone.invalid && f.submitted)">Phone is required.</div>
              </div>
            </div>
          </div>
          <div class="form-group" [class.has-danger]="(password.invalid && password.touched) || (password.invalid && f.submitted)">
            <div class="col-xs-12">
              <div class="col-xs-12">
                <input class="form-control" type="password" required="" placeholder="Password"
                       [class.form-control-danger]="(password.invalid && password.touched) || (password.invalid && f.submitted)"
                       name="password"
                       #password="ngModel"
                       [(ngModel)]="model.password">
                <div class="form-control-feedback" *ngIf="(password.invalid && password.touched) || (password.invalid && f.submitted)">Password is required.</div>
              </div>
            </div>
          </div>
          <div class="form-group" [class.has-danger]="(confirm_password.invalid && confirm_password.touched) || (confirm_password.invalid && f.submitted)">
            <div class="col-xs-12">
              <div class="col-xs-12">
                <input class="form-control" type="password" required="" placeholder="Confirm password"
                       [class.form-control-danger]="(confirm_password.value != password.value && confirm_password.touched) || (confirm_password.value != password.value && f.submitted)"
                       name="confirm_password"
                       ngModel
                       #confirm_password = "ngModel">
                <div class="form-control-feedback" *ngIf="(confirm_password.value != password.value && confirm_password.touched) || (confirm_password.value != password.value && f.submitted)">Password does not match</div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-12">
              <div class="checkbox checkbox-success p-t-0">
                <input id="checkbox-signup" type="checkbox" class="filled-in chk-col-light-blue"
                       name="agr"
                       #agree="ngModel"
                       ngModel
                       required>
                <label [class.form-control-danger]="(agree.invalid && f.submitted)" for="checkbox-signup"> I agree to all <a href="javascript:void(0)">Terms</a></label>
                <div class="form-control-feedback" *ngIf="(agree.invalid && f.submitted)">Agreement is required.</div>
              </div>
            </div>
          </div>
          <div class="form-group text-center p-b-20">
            <div class="col-xs-12">
              <button class="btn btn-info btn-lg btn-block btn-rounded text-uppercase waves-effect waves-light" type="submit">Sign Up</button>
              <div class="form-control-feedback mt-2" *ngIf="t_err">{{t_err}}</div>
            </div>
          </div>
          <div class="form-group m-b-0">
            <div class="col-sm-12 text-center">
              Already have an account? <a routerLink="/login" class="text-info m-l-5"><b>Sign In</b></a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
