<div class="row page-titles">
  <div class="col-md-12">
    <h3 class="text-themecolor">MY COMMISSIONS</h3>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h4 class="card-title">Search</h4>
    <div class="row">
      <div class="col-md-5">
        <input class="form-control" type="text" value="" />
      </div>
      <div class="col-md-7 s_button">
        <button type="button" class="btn waves-effect waves-light btn-secondary">Search</button>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <div class="table-responsive m-t-40">
      <table id="myTable" class="table table-bordered table-striped">
        <thead>
        <tr>
          <th>Sku</th>
          <th>Operator</th>
          <th>Country</th>
          <th>Commission</th>
          <th>Updated date</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>398</td>
          <td>Access Wireless PIN USA</td>
          <td>United States</td>
          <td>8%</td>
          <td>2017-06-15 03:54:21</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
