.StripeElement {
  width: 100%;
  background-color: white;
  height: 40px;
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid rgba(0,0,0,.15);
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: red;
}
#card-errors{
  color: red;
}
.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.form-control-feedback{
  display: none;
}
.form-control-danger+.form-control-feedback{
  display: block;
}
