<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title d-flex justify-content-between w-100 align-items-center" id="myLargeModalLabel">
          <span>Add card</span>
          <img src="/assets/img/ccs.png" class="ml-a" alt="">
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <form #f="ngForm" (submit)="f.valid && add_card()" novalidate>
        <div class="modal-body">
            <div class="form-group" [class.has-danger]="(holder.invalid && holder.touched) || (holder.invalid && f.submitted)">
              <label for="inputPassword" class="form-control-label">Card holder name</label>
              <input type="text" class="form-control" placeholder="Card holder name"
                     [class.form-control-danger]="(holder.invalid && holder.touched) || (holder.invalid && f.submitted)"
                     [(ngModel)]="model.holder"
                     name="holder"
                     #holder="ngModel"
                     required>
              <div class="form-control-feedback">Error</div>
            </div>
            <div class="form-group">
              <label class="form-control-label">Card</label>
              <div id="card-element"></div>
              <div id="card-errors" role="alert">{{card_err}}</div>
            </div>
            <div class="form-group" [class.has-danger]="(postal.invalid && postal.touched) || (postal.invalid && f.submitted)">
              <label for="" class="form-control-label">Postal code</label>
              <input type="number" class="form-control" placeholder="Postal code"
                     [class.form-control-danger]="(postal.invalid && postal.touched) || (postal.invalid && f.submitted)"
                     [(ngModel)]="model.postal"
                     name="postal"
                     #postal="ngModel"
                     required>
              <div class="form-control-feedback">Postal code is required</div>
            </div>
            <div class="form-group" [class.has-danger]="(street.invalid && street.touched) || (street.invalid && f.submitted)">
              <label for="" class="form-control-label">Street</label>
              <input type="text" class="form-control" placeholder="Street"
                     [class.form-control-danger]="(street.invalid && street.touched) || (street.invalid && f.submitted)"
                     #street='ngModel'
                     [(ngModel)]="model.street"
                     name="street"
                     required>
              <div class="form-control-feedback">Street is required</div>
            </div>
            <div class="form-group" [class.has-danger]="(city.invalid && city.touched) || (city.invalid && f.submitted)">
              <label for="" class="form-control-label">City</label>
              <input type="text" class="form-control" placeholder="City"
                     [class.form-control-danger]="(city.invalid && city.touched) || (city.invalid && f.submitted)"
                     [(ngModel)]="model.city"
                     name="city"
                     #city="ngModel"
                     required>
              <div class="form-control-feedback">City is required</div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-success waves-effect text-left">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
