<aside class="left-sidebar">
  <div class="scroll-sidebar">
    <nav class="sidebar-nav">
      <ul id="sidebarnav">
        <li>
          <a class="" routerLink="/dashboard" routerLinkActive="isActive" aria-expanded="false">
            <i class="fa fa-dashboard"></i>
            <span class="hide-menu">Dashboard</span>
          </a>
        </li>
        <li>
          <a class="" routerLink="/profile" routerLinkActive="isActive" aria-expanded="false">
            <i class="fa fa-user"></i>
            <span class="hide-menu">Profile</span>
          </a>
        </li>
        <!--<li>
          <a class="" routerLink="/topup" aria-expanded="false">
            <i class="mdi mdi-gauge"></i>
            <span class="hide-menu">TOP-UP RECHARGE</span>
          </a>
        </li>-->
        <li>
          <a class="" routerLink="/docs" aria-expanded="false" routerLinkActive="isActive">
            <i class="fa fa-file-text-o"></i>
            <span class="hide-menu">Docs</span>
          </a>
        </li>
        <li>
          <a class="" routerLink="/discount" routerLinkActive="isActive">
            <i class="fa fa-tags fa-lg faa-shake faa-fast animated-hover"></i>
            <span class="hide-menu">My Discounts</span>
          </a>
        </li>
        <li [class.isActive]="rl.isActive || rl1.isActive">
          <a class="has-arrow waves-effect waves-dark" aria-expanded="false" href="#">
            <i class="fa  fa-lg fa-dollar"></i>
            <span class="hide-menu">My Balance</span>
          </a>
          <ul aria-expanded="false" class="collapse">
            <li><a routerLink="/balance/make-payment" #rl1="routerLinkActive" routerLinkActive="isActive">Recharge my balance</a></li>
            <li><a routerLink="/balance/auto_recharge" #rl="routerLinkActive" routerLinkActive="isActive">Auto recharge</a></li>
          </ul>
        </li>
        <li [class.isActive]="rl2.isActive || rl3.isActive">
          <a class="has-arrow waves-effect waves-dark" aria-expanded="false" href="#">
            <i class="fa fa-lg fa-folder-open-o faa-float faa-fast animated-hover"></i>
            <span class="hide-menu"> My Reports </span>
          </a>
          <ul aria-expanded="false" class="collapse">
            <li><a routerLink="/reports/transaction" #rl2="routerLinkActive" routerLinkActive="isActive">Transaction report</a></li>
            <li><a routerLink="/reports/payment_history" #rl3="routerLinkActive" routerLinkActive="isActive">Balance payment history</a></li>
          </ul>
        </li>
        <li>
          <a routerLink="/setting" routerLinkActive="isActive" aria-expanded="false">
            <i class="fa fa-gear"></i>
            <span class="hide-menu">Settings</span>
          </a>
        </li>
        <li>
          <a class="" routerLink="/api" routerLinkActive="isActive" aria-expanded="false">
            <i class="fa fa-gears fa-lg faa-shake faa-fast animated-hover"></i>
            <span class="hide-menu">Api</span>
          </a>
        </li>
        <li>
          <a routerLink="/" aria-expanded="false" (click)="authService.logout()">
            <i class="fa  fa-power-off"></i>
            <span class="hide-menu">Logout</span>
          </a>
        </li>
        <li class="nav-devider"></li>
        <li>
          <a routerLink="/login" aria-expanded="false">
            <i class="fa  fa-power-off"></i>
            <span class="hide-menu">Login</span>
          </a>
        </li>
        <li>
          <a routerLink="/registration" aria-expanded="false">
            <i class="fa  fa-power-off"></i>
            <span class="hide-menu">Registration</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</aside>
