.table_title{
  padding: .75rem;
}
.badge{
  font-size: 100%;
}
table{
  font-size: 14px;
  td{
    width: 50%;
  }
}
.btn{
  position: relative;
}

.t_info{
  .badge{
    position: absolute;
    top: -5px;
    right: -5px;
    font-size: 14px;
  }
}
.btn-lg{
  font-size: 14px;
  i{
    font-size: 20px;
  }
}
img{
  max-width:100%;
}
