<div class="row el-element-overlay">
  <div class="col-md-4">
    <div class="card">
      <div class="el-card-item">
        <div class="el-card-avatar">
          <img src="{{!user.avatar ? './assets/images/no_image.png' : user.avatar }}" alt="{{user.firstName}}">
          <!--<div class="el-overlay">
            <ul class="el-info">
              <li><a class="btn default btn-outline" href="javascript:void(0);"><i class="ti-pencil"></i></a></li>
            </ul>
          </div>-->
        </div>
        <div class="el-card-content">
          <h3 class="box-title">Genelia Deshmukh</h3>
          <hr/>
          <div class="social">
            <a target="_blank" class="btn default btn-outline" href="http://twitter.com/ReloadlyAirtime"><i class="icon-social-twitter"></i></a>
            <a target="_blank" class="btn default btn-outline" href="http://facebook.com/reloadly"><i class="icon-social-facebook"></i></a>
            <a target="_blank" class="btn default btn-outline" href="https://instagram.com/reloadly/"><i class="icon-social-instagram"></i></a>
            <a target="_blank" class="btn default btn-outline" href="https://www.linkedin.com/company/reloadly"><i class="icon-social-linkedin"></i></a>
          </div>
          </div>
        </div>
      </div>
    </div>

  <div class="col-md-8">
      <div class="card card-body pb-0">
      <div class="table-responsive text-left mb-1">
        <b class="font-weight-bold table_title">Contact Information </b>
        <table class="table">
          <tbody>
          <tr>
            <td>Email: </td>
            <td>{{user.email}}</td>
          </tr>
          <tr>
            <td>Phone:</td>
            <td>{{user.phone?.number}}</td>
          </tr>
          <tr>
            <td>Username:</td>
            <td>{{user.firstName}} {{user.lastName}}</td>
          </tr>
          <tr>
            <td>Company:</td>
            <td></td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="table-responsive text-left mb-1">
        <b class="font-weight-bold table_title">General Information</b>
        <table class="table">
          <tbody>
          <tr>
            <td>Last logged in: </td>
            <td>{{user.lastLoggedInAt | date:'yyyy-MM-dd h:mm:ss a' }}</td>
          </tr>
          <tr>
            <td>Account type:</td>
            <td>Developer</td>
          </tr>
          <tr>
            <td>Status</td>
            <td>
              <span *ngIf="user.status" class="badge badge-success">Active</span>
              <span *ngIf="!user.status" class="badge badge-danger">No active</span>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <!--<div class="pr-5">
        <button type="button" class="btn waves-effect waves-light btn-info">Edit account</button>
      </div>-->
    </div>
    <!--<div class="row t_info mb-5">
      <div class="col-md-3">
        <button class="btn btn-icon btn-lg btn-block">
          <i class="ti-flag d-block text-primary text-extra-large mb-2"></i> Notifications
        </button>
      </div>
      <div class="col-md-3">
        <button class="btn btn-icon btn-lg margin-bottom-5 btn-block">
          <i class="ti-comments d-block text-primary text-extra-large mb-2"></i> Messages <span class="badge badge-danger"> 23 </span>
        </button>
      </div>
      <div class="col-md-3">
        <button class="btn btn-icon btn-lg margin-bottom-5 margin-bottom-5 btn-block">
          <i class="ti-layers-alt d-block text-primary text-extra-large mb-2"></i> Promotions
        </button>
      </div>
      <div class="col-md-3">
        <button class="btn btn-icon btn-lg margin-bottom-5 btn-block">
          <i class="ti-calendar d-block text-primary text-extra-large mb-2"></i> Calendar
        </button>
      </div>
    </div>-->

    </div>
</div>


