$small: 640px;
.active {
    color: #fff!important;
}

.ct-label.ct-horizontal {
    display: inline-block !important;
    text-align: center !important;
    transform: translateX(-50%);
}

.ct-labels foreignObject {
    &:first-child {
        .ct-label.ct-horizontal {
            transform: translateX(-40%);
        }
    }
}

.website-visitor {
    height: 355px;
    width: 100%;
}

@media (max-width: $small) {
    .website-visitor {
        height: 355px;
        width: 900px;
    }
    .chart-container {
        overflow-x: scroll;
        overflow-y: hidden;
    }
}