<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="d-flex">
                    <h4 class="card-title"><span class="lstick"></span>Sales By Product</h4>
                    <ul class="list-inline m-b-0 ml-auto">
                        <li>
                            <h6 class="text-muted text-success"><i class="fa fa-circle font-10 m-r-10 "></i>
                                <img class="country-flag" src="./assets/assets/images/flag_Ukraine.png" width="30" alt="UA">
                                <img class="country-flag" src="./assets/assets/images/logo_lifecell.png" width="75" alt="Vodafone">
                            </h6>
                        </li>
                        <li>
                            <h6 class="text-muted text-info"><i class="fa fa-circle font-10 m-r-10"></i>
                                <img class="country-flag" src="./assets/assets/images/flag_Ukraine.png" width="30" alt="UA">
                                <img class="country-flag" src="./assets/assets/images/logo_Vodafone.svg" width="100" alt="Vodafone">
                            </h6>
                        </li>
                    </ul>
                </div>
                <div class="text-center m-t-30">
                    <div class="btn-group " role="group" aria-label="Basic example">
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-secondary active" (click)="drawGraph(dayGraphInfo)">
                <input type="radio" name="options" id="option1" autocomplete="off" checked> Day
              </label>
                            <label class="btn btn-secondary" (click)="drawGraph(weekGraphInfo)">
                <input type="radio" name="options" id="option2" autocomplete="off"> Week
              </label>
                            <label class="btn btn-secondary" (click)="drawGraph(monthGraphInfo)">
                <input type="radio" name="options" id="option3" autocomplete="off"> Month
              </label>
                        </div>
                    </div>
                </div>
                <div class="chart-container">
                    <div class="website-visitor p-relative m-t-30"></div>
                </div>
            </div>
        </div>
    </div>
</div>