<div class="modal fade make-payment" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title d-flex justify-content-between w-100 align-items-center" id="myLargeModalLabel">
          <span>Payment Amount</span>
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <form #f="ngForm" novalidate class="form" (submit)="f.valid && make_payment(f)">
        <div class="modal-body">
            <div class="form-group" [class.has-danger]="(amount.invalid && amount.touched) || (amount.invalid && f.submitted) || (amount.value<25)">
              <label  class="form-control-label">Amount</label>
              <input type="number" class="form-control" placeholder="Card holder name"
                     [class.form-control-danger]="(amount.invalid && amount.touched) || (amount.invalid && f.submitted) || (amount.value<25)"
                     [(ngModel)]="model.amount"
                     name="holder"
                     #amount="ngModel"
                     required>
              <div class="form-control-feedback">Minimum amount allowed is 25</div>
            </div>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-success waves-effect text-left">Pay</button>
      </div>
      </form>
    </div>
  </div>
</div>
