<div id="main-wrapper" *ngIf="!no_head; else no_tmp">
  <app-header ></app-header>
  <app-navigation></app-navigation>
  <div class="page-wrapper">
    <div class="container-fluid">
      <router-outlet></router-outlet>
      <app-footer></app-footer>
    </div>
  </div>
</div>
<ng-template #no_tmp>
  <router-outlet></router-outlet>
</ng-template>

