.instagram__body{
  max-height: 425px;
  overflow: auto;
}
.instagram__title{
  position: relative;
}
.card_over{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .card{
    width: 48%;
  }
}

.mdi-instagram{
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 10px;
  font-size: 30px;
}
@media screen and (max-width: 1024px){
  .instagram{
    margin-bottom: 10px;
  }
}
