<div class="row">
  <div class="col-lg-4">
    <div class="instagram">
      <div class="instagram__title bg-info d-flex justify-content-between p-3 text-white mb-3">
        <a href="https://www.instagram.com/{{inst.data.username}}" target="_blank" class="text-white">{{inst.data.full_name}}</a>
        <i class="mdi mdi-instagram"></i>
      </div>
      <div class="instagram__body post el-element-overlay">
        <div class="card_over">
          <div class="card d-inline-block" *ngFor="let post of inst.imgs">
            <div class="el-card-item m-0 p-0">
              <div class="el-card-avatar el-overlay-1 m-0 p-0">
                <img src="{{post.img}}" alt="">
                <div class="el-overlay">
                  <ul class="el-info">
                    <li><a class="btn default btn-outline" href="{{post.url}}" target="_blank"><i class="fa fa-external-link"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Freloadly&tabs=timeline&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=252499985287455" width="100%" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
  </div>
  <div class="col-lg-4">
    <a class="twitter-timeline" href="https://twitter.com/reloadly" data-tweet-limit="1">Tweets by TwitterDev</a>
  </div>
</div>
