<a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="flag-icon flag-icon-us"></i></a>
<div class="dropdown-menu dropdown-menu-right animated bounceInDown">
  <a class="dropdown-item" href="#"><i class="flag-icon flag-icon-fr"></i> French</a>
  <a class="dropdown-item" href="#"><i class="flag-icon flag-icon-us"></i> English</a>
  <a class="dropdown-item" href="#"><i class="flag-icon flag-icon-es"></i> Spain</a>
</div>
