<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="d-flex">
                    <div>
                        <h4 class="card-title"><span class="lstick"></span>Notifications</h4>
                    </div>
                    <!-- <div class="ml-auto">
                      <select class="custom-select b-0">
                        <option selected="">January 2017</option>
                        <option value="1">February 2017</option>
                        <option value="2">March 2017</option>
                        <option value="3">April 2017</option>
                      </select>
                    </div> -->
                </div>
                <div class="table-responsive m-t-20">
                    <table class="table vm no-th-brd pro-of-month">
                        <!-- <thead>
                            <tr>
                                <th>Country Flag</th>
                                <th>Operator logo</th>
                                <th>Short Description</th>
                                <th>More...</th>
                            </tr>
                        </thead> -->
                        <tbody>
                            <tr *ngFor="let item of ['1','2','3','4','5']">
                                <td>
                                    <img src="./assets/assets/images/flag_Ukraine.png" alt="flag" width="40">
                                </td>
                                <td>
                                    <img src="./assets/assets/images/logo_Vodafone.svg" width="100">
                                </td>
                                <td>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</td>
                                <td><button data-toggle="modal" data-target=".bs-example-modal-lg" (click)="displayInfo(item)" class="btn btn-block btn-sm btn-outline-info">more...</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<app-dashboard-pop-up [data]='notificationsData'></app-dashboard-pop-up>