table {
    tr {
        th,td {
            &:nth-of-type(2) {
                width: 15%;
                text-align: center;
            }
            &:first-child {
                width: 10%;
                text-align: center;
            }
            &:last-child {
                width: 10%;
                text-align: center;
            }
        }
    }
}
.cursor-pointer {
    cursor: pointer;
}