<div class="row page-titles">
    <div class="col-md-12">
        <h3 class="text-themecolor">Api settings</h3>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <form #f="ngForm" (submit)="f.valid && send(f)" novalidate class="form">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label for="select_1" class="col-4 col-form-label">APi key: </label>
                        <div class="col-md-8">
                            <select class="selectpicker form-control" id="select_1" data-style="form-control btn-secondary">
                              <option value="1">123123123 (Master)</option>
                              <option value="2">12had781h</option>
                            </select>
                            <a href="#" class="mt-2 d-inline-block">Copy to clipboard</a>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="field_2" class="col-md-4 col-form-label">API key description: </label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="field_2">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="field_3" class="col-md-4 col-form-label">API secret: </label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="field_3">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="field_4" class="col-md-4 col-form-label d-flex align-items-center justify-content-between"><span>Signature Secret:</span> <i class="fa fa-question-circle" data-toggle="tooltip" title="Default tooltip"></i></label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="field_4">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="select_2" class="col-md-4 col-form-label d-flex align-items-center justify-content-between"><span>Signature method: </span><i class="fa fa-question-circle" data-toggle="tooltip" title="Default tooltip"></i></label>
                        <div class="col-md-8">
                            <select class="selectpicker form-control" id="select_2" data-style="form-control btn-secondary">
                          <option value="1">MD5 HASH siqnature</option>
                          <option value="1">MD5 HASH signature</option>
                        </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label for="field_5" class="col-md-4 col-form-label">Webhook URL for inbound Message: </label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="field_5">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="field_6" class="col-md-4 col-form-label">Webhook URL for Delivery Receipt: </label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="field_6">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="select_3" class="col-md-4 col-form-label">HTTP Method</label>
                        <div class="col-md-8">
                            <select class="selectpicker form-control" id="select_3" data-style="form-control btn-secondary">
                              <option value="1">GET</option>
                              <option value="1">POST</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 align-items-center justify-content-between mt-5 d-flex e_submit">
                    <a href="#">Request more API keys for my account</a>
                    <button type="submit" class="btn waves-effect waves-light btn-info">Save changes</button>
                </div>
            </div>
        </form>
    </div>
</div>

