<div class="card">
  <div class="card-body">
    <div class="card-title h4 m-b-20">Address</div>
    <button (click)="back()" class="m-b-20 btn btn-success">Back</button>
    <form #f="ngForm" (submit)="f.valid && send(f)" class="form-horizontal">
      <div class="row">
        <div class="form-group col-md-6" [class.has-danger]="(nickName.invalid && nickName.touched) || (nickName.invalid && f.submitted)">
          <label class="form-control-label">Nick name</label>
          <input type="text" class="form-control"
                 [class.form-control-danger]="(nickName.invalid && nickName.touched) || (nickName.invalid && f.submitted)"
                 [(ngModel)]="model.nickName"
                 name="nickName"
                 #nickName="ngModel"
                 required>
          <div class="form-control-feedback">nickName is required</div>
        </div>

        <div class="form-group col-md-6" [class.has-danger]="(street.invalid && street.touched) || (street.invalid && f.submitted)">
          <label class="form-control-label">Street</label>
          <input type="text" class="form-control"
                 [class.form-control-danger]="(street.invalid && street.touched) || (street.invalid && f.submitted)"
                 [(ngModel)]="model.street"
                 name="street"
                 #street="ngModel"
                 required>
          <div class="form-control-feedback">Street is required</div>
        </div>
        <div class="form-group col-md-6" [class.has-danger]="(address.invalid && address.touched) || (address.invalid && f.submitted)">
          <label class="form-control-label">Address</label>
          <input type="text" class="form-control"
                 [class.form-control-danger]="(address.invalid && address.touched) || (address.invalid && f.submitted)"
                 [(ngModel)]="model.address2"
                 name="address"
                 #address="ngModel"
                 required>
          <div class="form-control-feedback">Address is required</div>
        </div>
        <div class="form-group col-md-6" [class.has-danger]="(city.invalid && city.touched) || (city.invalid && f.submitted)">
          <label class="form-control-label">City</label>
          <input type="text" class="form-control"
                 [class.form-control-danger]="(city.invalid && city.touched) || (city.invalid && f.submitted)"
                 [(ngModel)]="model.city"
                 name="city"
                 #city="ngModel"
                 required>
          <div class="form-control-feedback">City is required</div>
        </div>
        <div class="form-group col-md-6" [class.has-danger]="(countryCode.invalid && countryCode.touched) || (countryCode.invalid && f.submitted)">
          <label class="form-control-label">Country</label>
          <div class="d-block">
            <input id="country_selector" type="text" class="form-control"
                   [class.form-control-danger]="(countryCode.invalid && countryCode.touched) || (countryCode.invalid && f.submitted)"
                   [(ngModel)]="model.countryCode"
                   name="countryCode"
                   #countryCode="ngModel">
            <div class="form-control-feedback">Country is required</div>
          </div>
        </div>
        <div class="form-group col-md-6" [class.has-danger]="(province.invalid && province.touched) || (province.invalid && f.submitted)">
          <label class="form-control-label">Province</label>
          <input type="text" class="form-control"
                 [class.form-control-danger]="(province.invalid && province.touched) || (province.invalid && f.submitted)"
                 [(ngModel)]="model.province"
                 name="province"
                 #province="ngModel"
                 required>
          <div class="form-control-feedback">Province is required</div>
        </div>
        <div class="form-group col-md-6" [class.has-danger]="(postal.invalid && postal.touched) || (postal.invalid && f.submitted)">
          <label class="form-control-label">Postal Code</label>
          <input type="text" class="form-control"
                 [class.form-control-danger]="(postal.invalid && postal.touched) || (postal.invalid && f.submitted)"
                 [(ngModel)]="model.postalCode"
                 name="postal"
                 #postal="ngModel"
                 required>
          <div class="form-control-feedback">Postal Code is required</div>
        </div>
        <div class="form-group col-md-6" [class.has-danger]="(company.invalid && company.touched) || (company.invalid && f.submitted)">
          <label class="form-control-label">Company</label>
          <input type="text" class="form-control"
                 [class.form-control-danger]="(company.invalid && company.touched) || (company.invalid && f.submitted)"
                 [(ngModel)]="model.company"
                 name="company"
                 #company="ngModel"
                 required>
          <div class="form-control-feedback">Company Code is required</div>
        </div>
        <div class="form-group col-md-6" [class.has-danger]="(defaultAddress.invalid && defaultAddress.touched) || (defaultAddress.invalid && f.submitted)">
          <label class="form-control-label">Default address</label>
          <div class="switch d-inline-block">
            <label>
              <input type="checkbox"
                     name="defaultAddress"
                     #defaultAddress="ngModel"
                     [(ngModel)]="model.defaultAddress">
              <span class="lever switch-col-light-green"></span>
            </label>
          </div>

          <div class="form-control-feedback">Default Address is required</div>
        </div>
      </div>
      <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">Add Address</button>
    </form>
  </div>
</div>
