<div class="col-lg-6 col-md-12">
  <div class="card">
    <div class="card-body">
      <div class="d-flex">
        <h4 class="card-title"><span class="lstick"></span>Activity</h4>
      </div>
    </div>
    <div class="activity-box">
      <div class="card-body">
        <div id="wer"></div>
      </div>
    </div>
  </div>
</div>
