<div class="row page-titles">
  <div class="col-md-12">
    <h3 class="text-themecolor">Settings</h3>
    <p class="text-muted">Account settings</p>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <form #f="ngForm" (submit)="f.valid && send(f)" novalidate>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <div class="box-title h5 mb-4">Account security</div>
            <div class="checkbox checkbox-success mb-4">
              <input type="checkbox" id="md_checkbox_28" class="filled-in chk-col-purple"
                     [(ngModel)]="model.fa"
                     name="fa"
              >
              <label for="md_checkbox_28"> Enable 2FA when signing in from new locations.</label>
            </div>
            <a href="#">More about 2FA</a>
          </div>
          <div class="form-group">
            <div class="box-title h5 mb-2">Balance display</div>
            <div class="row align-items-center">
              <div class="col-md-5">
                Display balance in:
              </div>
              <div class="col-md-7">
                <select  class="selectpicker form-control" id="select_1" data-style="form-control btn-secondary"
                         name="currency"
                         [(ngModel)]="model.currency">
                  <option value="1">Euro</option>
                  <option value="2">USD</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="box-title h5 mb-2">Balance alert</div>
            <div class="div">
              You will be eligible to enable email notifications for low balance after you have made at leas one payment to Nexmo.
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <div class="box-title h5 mb-2">Notification email addresses</div>
            <div class="row mb-4">
              <div class="col">
                Account owner will receive all invoices and balance alerts by default. Enter an email address in the field below to override default recipient.
              </div>
            </div>
            <div class="row align-items-center mb-4">
              <div class="col-md-5">
                Invoice & balance alerts:
              </div>
              <div class="col-md-7">
                <input type="text" class="form-control"
                       name="invoice"
                       [(ngModel)]="model.invoice">
              </div>
            </div>
            <div class="row align-items-center mb-4">
              <div class="col-md-5">
                Outage alerts
              </div>
              <div class="col-md-7">
                <a href="#">Sign up to statuspage.io alerts</a>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row mb-4">
              <div class="col">
                For pricing updates you can aad more than one recipient separated by commas.
              </div>
            </div>
            <div class="row align-items-center">
              <div class="col-md-5">
                Pricing updates:
              </div>
              <div class="col-md-7">
                <input type="text" class="form-control"
                       name="updates"
                       [(ngModel)]="model.updates">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button type="submit" class="btn waves-effect waves-light btn-info">Save changes</button>
        </div>
      </div>
    </form>
  </div>
</div>

