<div class="row page-titles">
  <div class="col-md-12">
    <h3 class="text-themecolor">Docs</h3>
  </div>
</div>
<div class="card">
  <div class="card-body">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci architecto fugit quis? Doloribus est illum necessitatibus qui vel! Consequuntur esse libero molestiae quo! Aliquam blanditiis exercitationem numquam sint velit, veritatis.
  </div>
</div>

