<div class="row page-titles">
  <div class="col-md-12">
    <h3 class="text-themecolor">PAYMENT HISTORY</h3>
    <p class="text-muted">HISTORY OF PAYMENTS MADE TO RECHARGE BALANCE...</p>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h4 class="card-title">Search</h4>
    <div class="row">
      <div class="col-md-5">
        <input class="form-control input-daterange-datepicker" type="text" name="daterange" value="" />
      </div>
      <div class="col-md-7">
        <button type="button" class="btn waves-effect waves-light btn-secondary mt-2 mt-md-0">Search</button>
      </div>

    </div>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <div class="table-responsive m-t-40">
      <table id="myTable" class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Confirmation</th>
            <th>Amount</th>
            <th>Old balance</th>
            <th>New balance</th>
            <th>Currency</th>
            <th>Date</th>
            <th>Card</th>
            <th>Type</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>422</td>
            <td>116</td>
            <td>5.00</td>
            <td>0.00</td>
            <td>5.00</td>
            <td>USD</td>
            <td>Oct 4, 2017 9:10:55 PM</td>
            <td>---</td>
            <td>Balance transfer</td>
          </tr>
        </tbody>
      </table>
    </div>
    <button type="button" class="btn btn-outline-primary"><i class="fa fa-download"></i> Download Report</button>
  </div>
</div>
