<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">Dashboard</h3>
    </div>
</div>
<app-dashboard-total></app-dashboard-total>
<app-dashboard-chart></app-dashboard-chart>
<app-dashboard-sales-by-product></app-dashboard-sales-by-product>
<app-dashboard-table></app-dashboard-table>
<app-dashboard-subscribe></app-dashboard-subscribe>


