<section id="wrapper">
  <div class="login-register">
    <div class="login-box card">
      <div class="card-body">
        <form class="form-horizontal form-material" id="loginform" #f="ngForm" (submit)="f.valid && send(f)" novalidate>
          <h3 class="box-title m-b-20">On boarding</h3>

          <div class="form-group" *ngIf="social_user" [class.has-danger]="(phone.invalid && phone.touched) || (phone.invalid && f.submitted)">
            <div class="col-xs-12">
              <label>Phone</label>
              <input class="form-control" id="phone" type="tel" required=""
                     phoneInput
                     [class.form-control-danger]="(phone.invalid && phone.touched) || (phone.invalid && f.submitted)"
                     name="phone"
                     #phone="ngModel"
                     [(ngModel)]="model.phone">
              <div class="form-control-feedback" *ngIf="(phone.invalid && phone.touched) || (phone.invalid && f.submitted)">Phone is required.</div>
            </div>
          </div>

          <div class="form-group" [class.has-danger]="(currency.invalid && currency.touched) || (currency.value == 0 && f.submitted)">
            <label>Currency</label>
            <select class="form-control"
                    [(ngModel)]="model.currencyCode"
                    #currency="ngModel"
                    [class.form-control-danger]="(currency.invalid && currency.touched) || (currency.value == 0 && f.submitted)"
                    required
                    name="currency">
              <option value="0" selected="selected">Choose currency...</option>
              <option value="USD">US Dollar	(USD)</option>
              <option value="EUR">Euro (EUR)</option>
            </select>
            <div class="form-control-feedback" *ngIf="(currency.invalid && currency.touched) || (currency.value == 0 && f.submitted)">Currency is required.</div>
          </div>

          <div class="form-group text-center p-b-20">
            <div class="col-xs-12">
              <button class="btn btn-info btn-lg btn-block btn-rounded text-uppercase waves-effect waves-light" type="submit">On board</button>
              <div class="form-control-feedback mt-2" *ngIf="t_err">{{t_err}}</div>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</section>
