/* You can add global styles to this file, and also import other style files */
// @import './assets/css/style.css';

// root variables
:root{
  --red: #ef5350;
}


body{
  //background: $blue;
}
.actions{
  max-width: 1150px;
  margin: 0 auto;
}

.ct-label {
  color: black !important;
}

.intl-tel-input{
  width: 100%;
}
.form-material .form-control{
  background-image: none!important;
  border-bottom:1px solid rgba(0,0,0,.15)!important;
}
.login-register{
  background-image:url("/assets/images/background/login-register.jpg");
}
.form-material .form-control.form-control-danger{
  border-color: var(--red)!important;
  color: var(--red)!important;
  &::-webkit-input-placeholder {
    color: var(--red)!important;
  }
  &::-moz-placeholder {
    color: var(--red)!important;
  }
  &:-ms-input-placeholder {
    color: var(--red)!important;
  }
  &:-moz-placeholder {
    color: var(--red)!important;
  }
}
.err{
  color: var(--red);
}
