
<div class="row page-titles">
  <div class="col-md-12">
    <h3 class="text-themecolor">TOP-UP RECHARGE</h3>
    <p class="text-muted">Follow these 3 easy steps to top-up in second!</p>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body wizard-content">
            <div class="tab-wizard wizard-circle">
              <!-- Step 1 -->
              <h6> Customer phone </h6>
              <section>
                <div class="row">
                  <div class="p-3 col">
                    <div class="form-group row">
                      <label for="phone" class="col-sm-6 text-right col-form-label">Password</label>
                      <div class="col-sm-6">
                        <input id="phone" type="tel"  class="form-control">
                      </div>
                    </div>
                    <!--<form class="form-inline">
                      <div class="form-group mb-2">
                        <label for="staticEmail2" class="sr-only">Phone number:</label>
                        <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="Phone number:">
                      </div>
                      <div class="form-group mx-sm-3 mb-2">
                        <label class="sr-only">Phone number</label>
                        <input id="phone" type="tel"  class="form-control">
                      </div>
                      <button type="submit" class="btn btn-info mb-2">next</button>
                    </form>-->
                  </div>
                </div>
              </section>
              <!-- Step 3 -->
              <h6> Recharge amount </h6>
              <section>
                <div class="row">
                  <div class="col p-3">
                    <div class="form-group row">
                      <label for="recharge_amount" class="col-sm-6 text-right col-form-label">Recharge amount</label>
                      <div class="col-sm-6">
                        <input id="recharge_amount" type="number"  class="form-control"
                               [(ngModel)]="model.recharge"
                               #mod="ngModel">
                        {{mod.value}}
                      </div>
                    </div>
                  </div>
                </div>
              </section>
              <!-- Step 4 -->
              <h6>Complete</h6>
              <section>
                <div class="row">
                  <div class="col-md-6">

                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
