<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title d-flex justify-content-between w-100 align-items-center" id="myLargeModalLabel">
          <span>Information</span>
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <form>
        <div class="modal-body">
            <div class="form-group">
              <div class="form-control-feedback">{{data}}
              </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>
